# Domain and Email Configuration
DOMAIN_NAME=your.domain.com
LETSENCRYPT_EMAIL=your-email@example.com

# Database Configuration
DATABASE_URL=mysql://root:635241@host.docker.internal:3306/hvts

# Backend Configuration
JWT_SECRET=this_is_a_super_secret_key
JWT_EXPIRES_IN=1d

# Frontend URLs
VISITOR_FORM_URL=http://localhost/public-qr-visitor-form/
NEXT_PUBLIC_BACKEND_API_URL=http://localhost/api

# Google Cloud Platform Configuration
GCP_PROJECT_ID=client-hvts
GCP_BUCKET_NAME=hvts-dev
GOOGLE_APPLICATION_CREDENTIALS=google-credentials.json

# Development Configuration
WATCHPACK_POLLING=true

# AWS SNS Configuration
AWS_REGION="ap-south-1"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"

# WhatsApp Business API Configuration (Meta Cloud API)
WHATSAPP_API_URL="https://graph.facebook.com/v24.0"
WHATSAPP_PHONE_NUMBER_ID="your_phone_number_id"
WHATSAPP_ACCESS_TOKEN="your_access_token"
WHATSAPP_TEMPLATE_GATE_PASS="gate_pass_approved"