fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
qrcode[pil]
Pillow
boto3
httpx
google-cloud-storage


